


		<% if current_user %>
	  Welcome <%= current_user.name %>!

	<% else %>
	 No current
	 <%end%>



Hola! Si has llegado a esta página es porque sabes que estamos organizando el primer <a href="http://railsgirls.com/lima">Rails Girls en Lima</a>. Este evento será gratuito y está dirigido a despertar el interés de chicas en la tecnología Ruby on Rails. Ya tenemos local, fecha y hasta coaches. Sin embargo, nos hace falta presupuesto para comprar unas <a href="https://docs.google.com/spreadsheet/ccc?key=0AvNGZfgqU1PZdFhqa05CYW5KSEdYWEJFSTdia2w5ekE&usp=sharing">cosas básicas</a>, y por eso necesitamos tu apoyo! Toda ayuda es bienvenida, sólo <a href="mailto:railsgirlslima@gmail.com">envíanos un correo</a> para enviarte más información :)
<% if !@events.first.nil? %>
<h2>Nuestra meta: S/. <%= number_with_precision(@events.first.goal, :precision => 2) %></h2>
<%
progress = @donations_total / @events.first.goal

if (progress > 1) then 
	progress = 1
end
 %>

Colaboraciones al <%= number_with_precision(progress * 100, :precision => 0) %>%
<div id="progressbarcontainer">
<div id="progressbar"></div>
</div>

<script>
$( "#progressbar" ).css("width", "<%= progress * 100 %>%");
</script>

<div class="centering">
<h2>Quedan</h2>
<div id="countdown"></div>
<script>
date = new Date(<%= @events.first.day.year %>, <%= @events.first.day.month %>-1, <%= @events.first.day.day %>);
$('#countdown').countdown({until: date});
</script>
<p>Día del evento: <%= @events.first.day %></p>
</div>
<div id="agradecimientos">
<h2>Agradecimientos</h2>
<table>
<% @donations.each do |donation| %>
	<tr><td>
		<%= donation.twitter.empty?? donation.name : link_to(donation.name, "http://twitter.com/" + donation.twitter)  %></td><td>S/. <%= number_with_precision(donation.amount, :precision => 2) %></td></tr>
<% end %>
</table>
</div>
<br />
<% end %>





