<h1>Listing expenses</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Quantity</th>
    <th>Price</th>
		<th>Sub-total</th>
    <th>Created on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @expenses.each do |expense| %>
  <tr>
    <td><%= expense.description %></td>
    <td><%= expense.quantity %></td>
    <td><%= expense.price %></td>
		<td><%= expense.price*expense.quantity %></td>
    <td><%= expense.created_on %></td>
    <td><%= link_to 'Show', expense %></td>
    <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
    <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% @total = @total + expense.price*expense.quantity %>
<% end %>
</table>

<h2>Total: <%=@total%></h2>

<br />

<%= link_to 'New Expense', new_expense_path %>
